@model TableTennis.ViewModels.PlayerManagementViewModel

@{
    
    ViewBag.Title = "Create player";
}

@using (Html.BeginForm())
{
    @Html.ValidationMessage("ModelError")
    
    <h4>@Html.DisplayNameFor(m => m.Player.Username)</h4>
    @Html.EditorFor(m => m.Player.Username)
    <br>
    <h4>@Html.DisplayNameFor(m => m.Player.Email)</h4>
    @Html.EditorFor(m => m.Player.Email)
    <br/>
    <h4>@Html.DisplayNameFor(m => m.Player.GravatarEmail)</h4>
    @Html.EditorFor(m => m.Player.GravatarEmail)
    <br/>
    <input type="submit" class="btn" value="Create" />    
}
