@using TableTennis.HelperClasses
@using TableTennis.Models
@model TableTennis.ViewModels.PlayerDetailsViewModel

@{
    ViewBag.Title = @Model.Player.Username;
}

<h2>Player details</h2>

<fieldset>
    <div class="display-label">
        @Html.DisplayNameFor(model => model.Player.Username)
    </div> 
    <div class="display-field">
        @Html.DisplayFor(model => model.Player.Username)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Player.Email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Player.Email)
    </div>

@*    <div class="display-label">
        @Html.DisplayNameFor(model => model.Player.Ratings[Game.SingleTableTennis])
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Player.Ratings[Game.SingleTableTennis])
    </div>*@

    <div class="display-field">
        <img src="@Html.Gravatar(Model.Player.GravatarEmail)" width="64" height="64" alt="Users Gravatar"/>
    </div>
</fieldset>

<h2>Last 10 games</h2>

<table>
    <tr>
        <td>
            Time
        </td>
        <td>
            Opponent
        </td>
        <td>
            Rating
        </td>
    </tr>
    @foreach (var p in Model.PlayedGamesViewModel.GameList)
    {
        var color = p.Won ? "Win" : "Loose";
        var playerOne = p.Opponent != Model.Player.Username;
        <tr class=@color>
            <td>
                @p.TimeStamp.ToShortDateString()
            </td>
            <td>
                @p.Opponent
            </td>
            <td>
                @p.Rating
            </td>
        </tr>
        foreach (var set in p.GameSets)
        {
            <tr>
                <td>
                    @(playerOne ? set.Score1 : set.Score2)
                </td>
                <td>
                </td>
                <td>
                    @(playerOne ? set.Score2 : set.Score1)
                </td>
            </tr>
        }
    }
</table>

<p>
    @Html.ActionLink("Back to List", "PlayerList")
</p>