@using TableTennis.Models
@model TableTennis.ViewModels.PlayerListViewModel

@{
    ViewBag.Title = "PlayerList";
}

@Html.ActionLink("Home", "Index", "Home")

<h2>PlayerList</h2>

<table>
    <tr>
        <td>
            Username
        </td>
        <td>
            Email
        </td>
        <td>
            Rating
        </td>
    </tr>
    @foreach (var p in Model.PlayerList)
    {
        <tr>
            <td>
                @Html.ActionLink(@p.Username, "Details", new {username = @p.Username})
            </td>
            <td>
                @p.Email
            </td>
            <td>
                @p.Rating
            </td>
            <td>
                <img src="@Html.Gravatar(p.GravatarEmail)" width="64" height="64" />
            </td>
        </tr>
    }
</table>