@{
    ViewBag.Title = "Table Tennis Scoreboard";
    ViewBag.Active = "Home";
}

<h1>@ViewBag.Message</h1>

<div class="hero-unit">
    
    <p>@Html.ActionLink("User Management", "Index", "PlayerManagement", new {}, new {@class = "btn"})</p>
    <p>@Html.ActionLink("Enter match result", "Create", "Match", new{}, new {@class = "btn"})</p>
    <p>@Html.ActionLink("Admin", "Management", "Account", new {}, new {@class = "btn"})</p>
    <p>@Html.ActionLink("Last 5 games", "LastGames", "Match", new {}, new {@class = "btn"})</p>

</div>