@model TableTennis.ViewModels.CreateViewModel

@{
    ViewBag.Title = "Enter Match Result";
    ViewBag.Active = "EnterMatch";
}

@using (Html.BeginForm("Create", "Match", FormMethod.Post))
{
    @Html.ValidationMessage("ValidationError")
    
    <h4>Player 1</h4>
    
    @Html.DropDownListFor(p => p.Player1Username, Model.PlayerList)   
   
    <h4>Player 2</h4>
    @Html.DropDownListFor(p => p.Player2Username, Model.PlayerList)

    <h4>@Html.DisplayNameFor(p => p.GameTypes)</h4>
    @Html.DropDownListFor(p => p.GameType, Model.GameTypes)
    
    @Html.ValidationMessage("MatchValidationError");
    
    <h5>Set 1</h5>
    @Html.EditorFor(p => p.Score1Set1)
    @Html.ValidationMessageFor(p => p.Score1Set1)
    @Html.EditorFor(p => p.Score2Set1)
    @Html.ValidationMessageFor(p => p.Score2Set1)

    <h5>Set 2</h5>
    @Html.EditorFor(p => p.Score1Set2)
    @Html.ValidationMessageFor(p => p.Score1Set2)
    @Html.EditorFor(p => p.Score2Set2)
    @Html.ValidationMessageFor(p => p.Score2Set2)
    
    <h5>Set 3</h5>
    @Html.EditorFor(p => p.Score1Set3)
    @Html.ValidationMessageFor(p => p.Score1Set3)
    @Html.EditorFor(p => p.Score2Set3)
    @Html.ValidationMessageFor(p => p.Score2Set3)
    
    <br/>
    <input type="submit" value="Add result" />    
}