@model TableTennis.ViewModels.CreateViewModel

@{
    ViewBag.Title = "Enter Match Result";
    ViewBag.Active = "EnterMatch";
}
@*<script src="../../Scripts/jquery.signalR-1.0.0.min.js"></script>
<script type="text/javascript">
    $(function () {
        var connection = $.connection('/hub');

        connection.start()
            .done(function () {
                $('#submitScore').click(function () {
                    var broadCastMessage =
                    {
                        matchType: 'tableTennis',
                        winner: 'Martin Clausen',
                        looser: 'Mads Skipper'
                    };

                    connection.send(JSON.stringify(broadCastMessage));
                });
            })
            .fail(function (error) {
                console.log('SignalR error occured ' + error);
            });
    });
</script>*@

@using (Html.BeginForm("Create", "Match", FormMethod.Post))
{
    @Html.ValidationMessage("ValidationError")
    
    <h4>Player 1</h4>
    
    @Html.DropDownListFor(p => p.Player1Username, Model.PlayerList)   
   
    <h4>Player 2</h4>
    @Html.DropDownListFor(p => p.Player2Username, Model.PlayerList)

    <h4>@Html.DisplayNameFor(p => p.GameTypes)</h4>
    @Html.DropDownListFor(p => p.GameType, Model.GameTypes)
    
    @Html.ValidationMessage("MatchValidationError");
    
    <h5>Set 1</h5>
    @Html.EditorFor(p => p.Score1Set1)
    @Html.ValidationMessageFor(p => p.Score1Set1)
    @Html.EditorFor(p => p.Score2Set1)
    @Html.ValidationMessageFor(p => p.Score2Set1)

    <h5>Set 2</h5>
    @Html.EditorFor(p => p.Score1Set2)
    @Html.ValidationMessageFor(p => p.Score1Set2)
    @Html.EditorFor(p => p.Score2Set2)
    @Html.ValidationMessageFor(p => p.Score2Set2)
    
    <h5>Set 3</h5>
    @Html.EditorFor(p => p.Score1Set3)
    @Html.ValidationMessageFor(p => p.Score1Set3)
    @Html.EditorFor(p => p.Score2Set3)
    @Html.ValidationMessageFor(p => p.Score2Set3)
    
    <br />
    <input type="submit" id="submitScore" value="Add result" />    
}