@model TableTennis.ViewModels.CreateMatchViewModel

@{
    ViewBag.Title = "Enter Match Result";
}

@Html.ActionLink("Home", "Index", "Home")

@using (Html.BeginForm("Create", "Match", FormMethod.Post))
{
    @Html.ValidationMessage("ValidationError")
    
    <h4>Player 1</h4>
    @Html.DropDownListFor(p => p.Player1ID, Model.PlayerList)   
   
    <h4>Player 2</h4>
    @Html.DropDownListFor(p => p.Player2ID, Model.PlayerList)

    @Html.ValidationMessage("MatchValidationError");
    
    <h5>Set 1</h5>
    @Html.EditorFor(p => p.Score1Set1)
    @Html.EditorFor(p => p.Score2Set1)
    <h5>Set 2</h5>
    @Html.EditorFor(p => p.Score1Set2)
    @Html.EditorFor(p => p.Score2Set2)
    
    <h5>Set 3</h5>
    @Html.EditorFor(p => p.Score1Set3)
    @Html.EditorFor(p => p.Score2Set3)
    
    <input type="submit" value="Add result" />    
}